@font-face{
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf ') format('truetype');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    font-family: "Open Sans";
    font-size: 14px;
    margin-bottom: 5%;
}

.navbar a{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 41px;
    line-height: 19px;
}

#Logo{
    width: 65.28px;
    height: 64.01px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 12%;
}

#punchline-container{
    position: relative;
}

#punchline-container h1{
    font-family: "Open Sans Bold";
    font-size: 64px;
    line-height: 180px;
}

.punchline-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.punchline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 95px;
}

.punchline button{
    background-color: #5EC8DE;
    color: white;
    width: 218px;
    height: 61px;
    border-radius: 8px;
    margin-top: 5%;
}

.dot{
    position: absolute;
    border-radius: 50%;
}

#dot1{
    width: 120px;
    height: 120px;
    left: -40px;
    top: 90px;
    background: #5EC8DE;
}

#dot2{
    width: 71px;
    height: 71px;
    opacity: .7;
    left: 130px;
    top: 220px;
    background: #5EC8DE;
}

#dot3{
    width: 43px;
    height: 43px;
    left: -13px;
    opacity: .4;
    top: 410px;
    background: #DF5050;
}

#dot4{
    width: 71px;
    height: 71px;
    right: 57px;
    top: 38px;
    background: #5EC8DE;
}

#dot5{
    width: 43px;
    height: 43px;
    top: 267px;
    right: 143px;
    background: #DF5050;
    opacity: 0.8;
}

.wrapper{
    position: relative;

}

.wave1{
    background: url('../img/wave1.svg');
    background-size: cover;
    width: 100%;
    height: 606px;
}

.wave2::after{
    background: url('../img/wave2.svg');
    content: '';
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -80px;
    z-index: -1;
}

/*.wrapper{*/
/*    background: url('../img/wave1.svg');*/
/*    display: block;*/
/*    background-size: cover;*/
/*    width: 100%;*/
/*    height: 606px;*/
/*}*/

/*.wrapper:after{*/
/*    background: url('../img/wave2.svg');*/
/*    width: 100%;*/
/*    height: 606px;*/
/*}*/

